* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* scroll-behavior: smooth; */
  background-color: #111111;
}

.firstPage {
  background-color: #111111;
  height: 90vh;
  width: 100%;
}

.video {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: #111111;
}

.lastPart {
  background-color: #111111;
  height: 100vh;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Parallax */
.parallax-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  width: 60%;
  min-height: 100vh;
  margin: auto;
}

.parallax-item h2 {
  font-size: 3rem;
  text-transform: uppercase;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
}

.parallax-item:first-child {
  background: url("https://images.unsplash.com/photo-1663305411753-4c305e177ff3?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5NDA4ODE&ixlib=rb-1.2.1&q=80");
  background-size: cover;
}

.parallax-item:nth-child(2) {
  background: #fdd835;
}

.parallax-item:nth-child(3) {
  background: url("https://images.unsplash.com/photo-1663183539627-adbe2c8ef43d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjM5Mzk5ODc&ixlib=rb-1.2.1&q=80");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Parallax Effect for DIV 3 */
  min-height: 600px;
}

.parallax-item:nth-child(4) {
  background: #1565c0;
}
.parallax-item:nth-child(5) {
  background: #7d1147;
}
.parallax-item:nth-child(6) {
  background: #32381a;
}

@media screen and (max-width: 768px) {
  .parallax-item h2 {
    font-size: 1.5rem;
  }
}
